body{
    color:#000000;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-width: 0;
    margin_height: 0;
    background-image: url(probka.png);
}

.pageTitleText{
    background: rgba(64, 0, 0, 0.96);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 0px 25px;
}

.pageTitleTextGood{
    background: rgba(0,255,0,0.5);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 0px 25px;
}
.pageTitleTextBad{
    background: rgba(255,32,32,0.5);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 0px 25px;
}

.topicButton{
    background-color: #d3d3d3;
    background: rgba(64, 0, 0, 0.96);
    border-radius: 12px;
    border: #ffffff;
    color: #805020;
    padding: 0px 15px;
    width: 500px;
    height: 50px;
    text-decoration: none;
    cursor: pointer;
    text-align: left;
    display: inline-block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.controlButton{
    background-color: #d3d3d3;
    background: rgba(64, 0, 0, 0.96);
    border-radius: 12px;
    border: #ffffff;
    color: #805020;
    padding: 0px 15px;
    width: 150px;
    height: 50px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.itemButton{
    background-color: #d3d3d3;
    background: rgba(64, 0, 0, 0.96);
    border-radius: 12px;
    border: #ffffff;
    color: #805020;
    padding: 0px 15px;
    width: 1000px;
    height: 50px;
    text-decoration: none;
    cursor: pointer;
    text-align: left;
    display: inline-block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

h1{
    color: #ffff80;
    opacity: 1;
    font-family: "Helvetica";
}

h5{
    color: #ffff80;
    opacity: 1;
    font-family: "Helvetica";
    font-size: 30px;
}

.itemsBlock{
    padding: 0px 25px;
}