<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


    <welcome-file-list>

        <welcome-file>/index.html</welcome-file>

    </welcome-file-list>

    <servlet>
        <servlet-name>LogInServlet</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.login.LogInServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogInServlet</servlet-name>
        <url-pattern>/LogInServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.login.LogOutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>AdminPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.AdminPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminPageController</servlet-name>
        <url-pattern>/AdminPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GenerateBaseDateController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.special_admin_options.GenerateBaseDateController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GenerateBaseDateController</servlet-name>
        <url-pattern>/GenerateBaseDateController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClearAllDateController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.special_admin_options.ClearAllDateController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ClearAllDateController</servlet-name>
        <url-pattern>/ClearAllDateController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InstitutePageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.institute.InstitutePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>InstitutePageController</servlet-name>
        <url-pattern>/InstitutePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateInstitutePageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.institute.CreateInstitutePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateInstitutePageController</servlet-name>
        <url-pattern>/CreateInstitutePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateInstitutePageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.institute.UpdateInstitutePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateInstitutePageController</servlet-name>
        <url-pattern>/UpdateInstitutePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteInstitutePageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.institute.DeleteInstitutePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteInstitutePageController</servlet-name>
        <url-pattern>/DeleteInstitutePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowInstituteInfoPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.institute.ShowInstituteInfoPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowInstituteInfoPageController</servlet-name>
        <url-pattern>/ShowInstituteInfoPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FacultyPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.faculty.FacultyPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FacultyPageController</servlet-name>
        <url-pattern>/FacultyPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateFacultyPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.faculty.CreateFacultyPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateFacultyPageController</servlet-name>
        <url-pattern>/CreateFacultyPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateFacultyPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.faculty.UpdateFacultyPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateFacultyPageController</servlet-name>
        <url-pattern>/UpdateFacultyPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MoveFacultyPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.faculty.MoveFacultyPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MoveFacultyPageController</servlet-name>
        <url-pattern>/MoveFacultyPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteFacultyPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.faculty.DeleteFacultyPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteFacultyPageController</servlet-name>
        <url-pattern>/DeleteFacultyPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowInfoFacultyPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.faculty.ShowInfoFacultyPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowInfoFacultyPageController</servlet-name>
        <url-pattern>/ShowInfoFacultyPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DepartmentPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.department.DepartmentPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DepartmentPageController</servlet-name>
        <url-pattern>/DepartmentPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateDepartmentPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.department.CreateDepartmentPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateDepartmentPageController</servlet-name>
        <url-pattern>/CreateDepartmentPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateDepartmentPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.department.UpdateDepartmentPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateDepartmentPageController</servlet-name>
        <url-pattern>/UpdateDepartmentPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteDepartmentPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.department.DeleteDepartmentPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteDepartmentPageController</servlet-name>
        <url-pattern>/DeleteDepartmentPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MoveDepartmentPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.department.MoveDepartmentPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MoveDepartmentPageController</servlet-name>
        <url-pattern>/MoveDepartmentPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowInfoDepartmentPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.department.ShowInfoDepartmentPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowInfoDepartmentPageController</servlet-name>
        <url-pattern>/ShowInfoDepartmentPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EmployeePageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.persons.employee.EmployeePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EmployeePageController</servlet-name>
        <url-pattern>/EmployeePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateEmployeePageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.persons.employee.CreateEmployeePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateEmployeePageController</servlet-name>
        <url-pattern>/CreateEmployeePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteEmployeePageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.persons.employee.DeleteEmployeePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteEmployeePageController</servlet-name>
        <url-pattern>/DeleteEmployeePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateEmployeePageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.persons.employee.UpdateEmployeePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateEmployeePageController</servlet-name>
        <url-pattern>/UpdateEmployeePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowEmployeeInfoPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.persons.employee.ShowEmployeeInfoPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowEmployeeInfoPageController</servlet-name>
        <url-pattern>/ShowEmployeeInfoPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MoveEmployeePageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.persons.employee.MoveEmployeePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MoveEmployeePageController</servlet-name>
        <url-pattern>/MoveEmployeePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EmployeeMenuPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.persons.EmployeeMenuPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EmployeeMenuPageController</servlet-name>
        <url-pattern>/EmployeeMenuPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DisciplinePageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.study_process.discipline.DisciplinePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DisciplinePageController</servlet-name>
        <url-pattern>/DisciplinePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateDisciplinePageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.study_process.discipline.CreateDisciplinePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateDisciplinePageController</servlet-name>
        <url-pattern>/CreateDisciplinePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateDisciplinePageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.study_process.discipline.UpdateDisciplinePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateDisciplinePageController</servlet-name>
        <url-pattern>/UpdateDisciplinePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowInfoDisciplinePageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.study_process.discipline.ShowInfoDisciplinePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowInfoDisciplinePageController</servlet-name>
        <url-pattern>/ShowInfoDisciplinePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TeacherPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.persons.teacher.TeacherPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TeacherPageController</servlet-name>
        <url-pattern>/TeacherPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StudentPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.persons.student.StudentPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StudentPageController</servlet-name>
        <url-pattern>/StudentPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GroupPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.study_process.group.GroupPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GroupPageController</servlet-name>
        <url-pattern>/GroupPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TimetablePageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.study_process.timetable.TimetablePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TimetablePageController</servlet-name>
        <url-pattern>/TimetablePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ActionResultPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.ActionResultPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ActionResultPageController</servlet-name>
        <url-pattern>/ActionResultPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ActionResultEmployeeMenuPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.ActionResultEmployeeMenuPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ActionResultEmployeeMenuPageController</servlet-name>
        <url-pattern>/ActionResultEmployeeMenuPageController</url-pattern>
    </servlet-mapping>


    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>net.ukr.vixtibon.filters.AuthenticationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/Admin/*</url-pattern>
    </filter-mapping>

</web-app>