body{
    color:#000000;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-width: 0;
    margin_height: 0;
    background-image: url(engineering-blueprint.jpg);
}
.needToFix{
    background: rgba(255,0,0,0.5);
    background-image: url(1000px-Tools.svg.png);
    padding: 0px 25px;
}
.yelowInfo{
    background: rgba(255,255,0,0.5);
    padding: 0px 25px;
}
.greenInfo{
    background: rgba(0,255,0,0.5);
    padding: 0px 25px;
}
.topicButton{
    background-color: #d3d3d3;
    background: rgba(138,138,138,0.5);
    border-radius: 12px;
    border: navy;
    color: #ffffff;
    padding: 0px 15px;
    width: 500px;
    height: 50px;
    text-decoration: none;
    cursor: pointer;
    text-align: left;
    display: inline-block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.controlButton{
    background: rgba(138,138,138,0.5);
    border-radius: 12px;
    border: navy;
    color: #ffffff;
    padding: 0px 15px;
    width: 150px;
    height: 50px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.pageTitleText{
    background: rgba(108,108,108,0.5);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 0px 25px;
}
h5{
    color: #ffffff;
    opacity: 1;
    font-family: "Helvetica";
    font-size: 30px;

}
h4{
    color: brown;
    font-family: "Helvetica";
    font-size: 30px;
}
h1{
    color: #ffffff;
    opacity: 1;
    font-family: "Helvetica";
}
h2{
    color: #ffffff;
    opacity: 1;
    font-family: "Helvetica";
}
.payAttention{
    color: #ffffff;
    font-family: "Helvetica";
    font-size: 30px;
}
.googNews{
    color: #ffffff;
    font-family: "Helvetica";
    font-size: 30px;
}
.itemsBlock{
    padding: 0px 25px;
}
.itemsBlockInfo{
    background: rgba(192,192,192,0.5);
    padding: 0px 25px;
}
.itemButton{
    background-color: #d3d3d3;
    background: rgba(138,138,138,0.5);
    border-radius: 12px;
    border: navy;
    color: #ffffff;
    padding: 0px 15px;
    width: 1000px;
    height: 50px;
    text-decoration: none;
    cursor: pointer;
    text-align: left;
    display: inline-block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
input{
    background: rgba(108,108,108,0.3);
}
