/*headers*/

.pageTitleText{
    font-family: "Helvetica";
    font-size: 30px;
    font-weight: bold;
    margin: 5px 0px 5px 0px;
    padding-left: 10px;
    text-align: left;
    text-decoration-color: white;
}

.pageTitleTextAdmin{
    background: linear-gradient(to bottom right, rgba(19, 19, 19, 0.69), rgba(140, 140, 140, 0.35));
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: #ffffff;
}

.pageTitleTextEmployee{
    background: linear-gradient(to bottom right, rgba(19, 19, 19, 0.69), rgba(140, 140, 140, 0.35));
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.pageTitleTextTeacher{
    background: linear-gradient(to bottom right, rgba(19, 19, 19, 0.69), rgba(140, 140, 140, 0.35));
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.pageTitleTextStudent{
    background: linear-gradient(to bottom right, rgba(19, 19, 19, 0.69), rgba(140, 140, 140, 0.35));
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.pageTitleTextLogIn{
    background: linear-gradient(to bottom right, rgba(12, 24, 12, 0.89), rgba(69, 151, 15, 0.35));
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: #c1fba5;
    text-decoration-color: rgba(117, 255, 18, 0.40);
}

.pageTitleTextWelcome{
    background: linear-gradient(to bottom right, rgba(2, 3, 5, 0.69), rgba(19, 36, 61, 0.35));
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: #e5f7fb;
}

.pageTitleTextGood{
    background: linear-gradient(to bottom right, rgb(30, 183, 73), rgba(30, 183, 73, 0.56));
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: #ffffff;
    padding: 0px 25px;
}
.pageTitleTextBad{
    background: linear-gradient(to bottom right, rgb(183, 0, 12), rgba(183, 0, 12, 0.56));
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: #ffffff;
    padding: 0px 25px;
}

/***************************************************************************************/
/*content*/
/***************************************************************************************/
/*buttons*/
/*control buttons*/
.controlButton{
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-size: 21px;
    font-weight: bold;
    height: 50px;
    margin: 5px 5px 5px 5px;
    padding: 0px 15px;
    text-align: center;
    width: 150px;
}

.controlButtonAdminPage{
    background: linear-gradient(to bottom right, rgba(19, 19, 19, 0.69), rgba(140, 140, 140, 0.35));
    border: #000040;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: #ffffff;
}

.controlButtonAdminPage:hover {
    background: linear-gradient(to bottom right, rgba(19, 19, 19, 0.47), rgba(139, 125, 140, 0.25));
    color: #ffffff;
}

.controlButtonWelcomePage{
    background: linear-gradient(to bottom right, rgba(2, 2, 4, 0.95), rgba(19, 36, 61, 0.35));
    border: #000040;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: #e5f7fb;
}

.controlButtonWelcomePage:hover {
    background: linear-gradient(to bottom right, rgba(12, 59, 71, 0.69), rgba(21, 103, 131, 0.35));
    color: #e5f7fb;
}

.controlButtonWLogInPage{
    background: linear-gradient(to bottom right, rgba(12, 24, 12, 0.89), rgba(69, 151, 15, 0.35));
    border: #000040;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: #e5f7fb;
}

.controlButtonWLogInPage:hover {
    background: linear-gradient(to bottom right, rgba(30, 139, 18, 0.69), rgba(73, 221, 15, 0.35));
    color: #e5f7fb;
}
/**/
/*menu buttons*/
.topicButton{
    border-radius: 6px;
    padding: 0px 15px;
    width: 500px;
    height: 50px;
    cursor: pointer;
    text-align: left;
    display: inline-block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.topicButtonAdminPage{
    background: linear-gradient(to bottom right, rgba(19, 19, 19, 0.69), rgba(140, 140, 140, 0.35));
    border: #000000;
    color: #ffffff;
}
.topicButtonAdminPage:hover {
    background: linear-gradient(to bottom right, rgba(19, 19, 19, 0.47), rgba(139, 125, 140, 0.25));
    color: white;
}
/**/
/*item buttons*/
.itemButton{
    border-radius: 6px;
    padding: 0px 15px 10px ;
    width: 1000px;
    height: 30px;
    cursor: pointer;
    text-align: left;
    font-family: "Helvetica";
    font-size: 26px;
    font-weight: bold;
    display: inline-block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 10px 0px 10px 0px;
}
.itemButtonAdminPages{
    background: linear-gradient(to bottom right, rgba(19, 19, 19, 0.69), rgba(140, 140, 140, 0.35));
    border: navy;
    color: #ffffff;
    text-decoration-color: white;
}
.itemButtonAdminPages:hover {
    background: linear-gradient(to bottom right, rgba(19, 19, 19, 0.47), rgba(139, 125, 140, 0.25));
    color: white;
}
/**/
/***************************************************************************************/

/*main*/

body{
    color:#000000;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-width: 0;
    margin_height: 0;
}

.backgroungImageAdmin{
    background-image: url(engineering-blueprint.jpg);
}

.backgroungImageEmployee{
     background-image: url(pnbbeoezqniyeexkjicw.jpg);
 }

.backgroungImageTeacher{
    background-image: url(teacher.jpg);
}

.backgroungImageStudent{
    background-image: url(kaboompics.com_Black+glasses,+silver+pencil,+opened+notepad+and+cup+of+cofee.jpg);
}

.backgroungImageLogIn{
    background-image: url(ws_Green_portal_2560x1920.jpg);
}

.backgroungImageMainWelcome{
    background-image: url(data-science.jpg);
}
form{
    margin: 0px 0px 0px 0px;
}

/*input fields*/
.inputSettings{
    font-family: "Helvetica";
    font-weight: bold;
}
.inputLogInPage{
    background: rgba(21, 116, 21, 0.83);
    color: #e5f7fb;
}
.inputStudent{
    background: rgba(108,108,108,0.3);
}
.inputTeacher{
    background: rgba(108,108,108,0.3);
}
.inputEmployee{
    background: rgba(108,108,108,0.3);
}
.inputAdminPage{
    background: rgba(19, 19, 19, 0.69);
    color: #ffffff;
}
.inputAdminPageLongNames{
    width: 1000px;
}
/**/
/*text labels*/
.textLabel{
    font-family: "Helvetica";
    font-size: 21px;
    font-weight: bold;
}

.textLabelLogInPage{
    color: #e5f7fb;
    text-align: right;
}

.textLabelAdminPage{
    color: #ffffff;
    text-align: left;
}

.textLabelParagraph{
    font-family: "Helvetica";
    font-size: 26px;
    font-weight: bold;
    padding-left: 40px;
    text-align: left;
}

/**/
/*page content*/
.pageContent{
    margin: 5px 0px 5px 0px;
    overflow: auto;
    padding: 5px 5px 5px 5px;
}

.pageContentAdminPages{
    background: linear-gradient(to bottom right, rgba(19, 19, 19, 0.69), rgba(140, 140, 140, 0.35));
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: #ffffff;
}
.pageContentAdminPagesTwoFieldsSize{
    height: 125px;
}

.pageContentAdminPages500px{
    height: 500px;
}
/**/
/***************************************************************************************/
/**/


.needToFix{
    background: rgba(255,0,0,0.5);
    background-image: url(../Admin/css/1000px-Tools.svg.png);
    padding: 0px 25px;
}
.yelowInfo{
    background: rgba(255,255,0,0.5);
    padding: 0px 25px;
}
.greenInfo{
    background: rgba(0,255,0,0.5);
    padding: 0px 25px;
}





.textInputLabel{
    color: #ffffff;
    opacity: 1;
    font-family: "Helvetica";
    font-size: 15px;
}
h5{
    color: #ffffff;
    font-family: "Helvetica";
    font-size: 30px;
}
h4{
    color: brown;
    font-family: "Helvetica";
    font-size: 30px;
}
h3{
    color: red;
    font-family: "Helvetica";
    font-size: 30px;
}
h1{
    color: #ffffff;
    font-family: "Helvetica";
}
h2{
    color: #ffffff;
    font-family: "Helvetica";
}
.payAttention{
    color: #ffffff;
    font-family: "Helvetica";
    font-size: 30px;
}
.googNews{
    color: #ffffff;
    font-family: "Helvetica";
    font-size: 30px;
}
.itemsBlock{
    padding: 0px 10px;
}
.itemsBlockInfo{
    background: rgba(192,192,192,0.5);
    padding: 0px 25px;}

