<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <welcome-file-list>

        <welcome-file>/index.html</welcome-file>

    </welcome-file-list>

    <servlet>
        <servlet-name>LogInServlet</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.login.LogInServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogInServlet</servlet-name>
        <url-pattern>/LogInServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.login.LogOutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>AdminPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.AdminPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminPageController</servlet-name>
        <url-pattern>/AdminPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MainInfoPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.special_admin_options.MainInfoPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MainInfoPageController</servlet-name>
        <url-pattern>/MainInfoPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GenerateBaseDateController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.special_admin_options.GenerateBaseDateController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GenerateBaseDateController</servlet-name>
        <url-pattern>/GenerateBaseDateController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClearAllDateController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.special_admin_options.ClearAllDateController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ClearAllDateController</servlet-name>
        <url-pattern>/ClearAllDateController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InstitutePageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.institute.InstitutePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>InstitutePageController</servlet-name>
        <url-pattern>/InstitutePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateInstitutePageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.institute.CreateInstitutePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateInstitutePageController</servlet-name>
        <url-pattern>/CreateInstitutePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateInstitutePageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.institute.UpdateInstitutePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateInstitutePageController</servlet-name>
        <url-pattern>/UpdateInstitutePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteInstitutePageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.institute.DeleteInstitutePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteInstitutePageController</servlet-name>
        <url-pattern>/DeleteInstitutePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowInstituteInfoPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.institute.ShowInstituteInfoPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowInstituteInfoPageController</servlet-name>
        <url-pattern>/ShowInstituteInfoPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FacultyPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.faculty.FacultyPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FacultyPageController</servlet-name>
        <url-pattern>/FacultyPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateFacultyPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.faculty.CreateFacultyPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateFacultyPageController</servlet-name>
        <url-pattern>/CreateFacultyPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateFacultyPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.faculty.UpdateFacultyPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateFacultyPageController</servlet-name>
        <url-pattern>/UpdateFacultyPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MoveFacultyPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.faculty.MoveFacultyPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MoveFacultyPageController</servlet-name>
        <url-pattern>/MoveFacultyPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteFacultyPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.faculty.DeleteFacultyPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteFacultyPageController</servlet-name>
        <url-pattern>/DeleteFacultyPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowInfoFacultyPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.faculty.ShowInfoFacultyPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowInfoFacultyPageController</servlet-name>
        <url-pattern>/ShowInfoFacultyPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DepartmentPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.department.DepartmentPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DepartmentPageController</servlet-name>
        <url-pattern>/DepartmentPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateDepartmentPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.department.CreateDepartmentPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateDepartmentPageController</servlet-name>
        <url-pattern>/CreateDepartmentPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateDepartmentPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.department.UpdateDepartmentPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateDepartmentPageController</servlet-name>
        <url-pattern>/UpdateDepartmentPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteDepartmentPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.department.DeleteDepartmentPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteDepartmentPageController</servlet-name>
        <url-pattern>/DeleteDepartmentPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MoveDepartmentPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.department.MoveDepartmentPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MoveDepartmentPageController</servlet-name>
        <url-pattern>/MoveDepartmentPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowInfoDepartmentPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.depatments.department.ShowInfoDepartmentPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowInfoDepartmentPageController</servlet-name>
        <url-pattern>/ShowInfoDepartmentPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EmployeePageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.persons.employee.EmployeePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EmployeePageController</servlet-name>
        <url-pattern>/EmployeePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateEmployeePageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.persons.employee.CreateEmployeePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateEmployeePageController</servlet-name>
        <url-pattern>/CreateEmployeePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteEmployeePageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.persons.employee.DeleteEmployeePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteEmployeePageController</servlet-name>
        <url-pattern>/DeleteEmployeePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateEmployeePageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.persons.employee.UpdateEmployeePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateEmployeePageController</servlet-name>
        <url-pattern>/UpdateEmployeePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowEmployeeInfoPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.persons.employee.ShowEmployeeInfoPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowEmployeeInfoPageController</servlet-name>
        <url-pattern>/ShowEmployeeInfoPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MoveEmployeePageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.persons.employee.MoveEmployeePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MoveEmployeePageController</servlet-name>
        <url-pattern>/MoveEmployeePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EmployeeMenuPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.persons.EmployeeMenuPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EmployeeMenuPageController</servlet-name>
        <url-pattern>/EmployeeMenuPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DisciplinePageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.study_process.discipline.DisciplinePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DisciplinePageController</servlet-name>
        <url-pattern>/DisciplinePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateDisciplinePageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.study_process.discipline.CreateDisciplinePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateDisciplinePageController</servlet-name>
        <url-pattern>/CreateDisciplinePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateDisciplinePageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.study_process.discipline.UpdateDisciplinePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateDisciplinePageController</servlet-name>
        <url-pattern>/UpdateDisciplinePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteDisciplinePageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.study_process.discipline.DeleteDisciplinePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteDisciplinePageController</servlet-name>
        <url-pattern>/DeleteDisciplinePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SetDisciplineDepartmentDependencyPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.study_process.discipline.SetDisciplineDepartmentDependencyPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SetDisciplineDepartmentDependencyPageController</servlet-name>
        <url-pattern>/SetDisciplineDepartmentDependencyPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowInfoDisciplinePageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.study_process.discipline.ShowInfoDisciplinePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowInfoDisciplinePageController</servlet-name>
        <url-pattern>/ShowInfoDisciplinePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TeacherPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.persons.teacher.TeacherPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TeacherPageController</servlet-name>
        <url-pattern>/TeacherPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateTeacherPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.persons.teacher.CreateTeacherPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateTeacherPageController</servlet-name>
        <url-pattern>/CreateTeacherPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateTeacherPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.persons.teacher.UpdateTeacherPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateTeacherPageController</servlet-name>
        <url-pattern>/UpdateTeacherPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteTeacherPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.persons.teacher.DeleteTeacherPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteTeacherPageController</servlet-name>
        <url-pattern>/DeleteTeacherPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MoveTeacherPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.persons.teacher.MoveTeacherPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MoveTeacherPageController</servlet-name>
        <url-pattern>/MoveTeacherPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowInfoTeacherPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.persons.teacher.ShowInfoTeacherPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowInfoTeacherPageController</servlet-name>
        <url-pattern>/ShowInfoTeacherPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TeacherMenuPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.study_process.teachers.TeacherMenuPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TeacherMenuPageController</servlet-name>
        <url-pattern>/TeacherMenuPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SetAttendancePageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.study_process.teachers.SetAttendancePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SetAttendancePageController</servlet-name>
        <url-pattern>/SetAttendancePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SetProgressPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.study_process.teachers.SetProgressPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SetProgressPageController</servlet-name>
        <url-pattern>/SetProgressPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowTimetablePageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.study_process.teachers.ShowTimetablePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowTimetablePageController</servlet-name>
        <url-pattern>/ShowTimetablePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ActionResultTeacherMenuPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.ActionResultTeacherMenuPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ActionResultTeacherMenuPageController</servlet-name>
        <url-pattern>/ActionResultTeacherMenuPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StudentPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.persons.student.StudentPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StudentPageController</servlet-name>
        <url-pattern>/StudentPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateStudentPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.persons.student.CreateStudentPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateStudentPageController</servlet-name>
        <url-pattern>/CreateStudentPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateStudentPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.persons.student.UpdateStudentPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateStudentPageController</servlet-name>
        <url-pattern>/UpdateStudentPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteStudentPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.persons.student.DeleteStudentPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteStudentPageController</servlet-name>
        <url-pattern>/DeleteStudentPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MoveStudentPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.persons.student.MoveStudentPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MoveStudentPageController</servlet-name>
        <url-pattern>/MoveStudentPageController</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>ShowInfoStudentPageController</servlet-name>
    <servlet-class>net.ukr.vixtibon.servlets.controllers.persons.student.ShowInfoStudentPageController</servlet-class>
</servlet>

    <servlet-mapping>
        <servlet-name>ShowInfoStudentPageController</servlet-name>
        <url-pattern>/ShowInfoStudentPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StudentMenuPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.study_process.students.StudentMenuPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StudentMenuPageController</servlet-name>
        <url-pattern>/StudentMenuPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowAttendancePageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.study_process.students.ShowAttendancePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowAttendancePageController</servlet-name>
        <url-pattern>/ShowAttendancePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowProgressPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.study_process.students.ShowProgressPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowProgressPageController</servlet-name>
        <url-pattern>/ShowProgressPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GroupPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.study_process.group.GroupPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GroupPageController</servlet-name>
        <url-pattern>/GroupPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateGroupPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.study_process.group.CreateGroupPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateGroupPageController</servlet-name>
        <url-pattern>/CreateGroupPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateGroupPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.study_process.group.UpdateGroupPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateGroupPageController</servlet-name>
        <url-pattern>/UpdateGroupPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteGroupPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.study_process.group.DeleteGroupPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteGroupPageController</servlet-name>
        <url-pattern>/DeleteGroupPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowInfoGroupPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.study_process.group.ShowInfoGroupPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowInfoGroupPageController</servlet-name>
        <url-pattern>/ShowInfoGroupPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TimetablePageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.study_process.timetable.TimetablePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TimetablePageController</servlet-name>
        <url-pattern>/TimetablePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SetTimetablePageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.study_process.timetable.SetTimetablePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SetTimetablePageController</servlet-name>
        <url-pattern>/SetTimetablePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateTimetablePageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.study_process.timetable.UpdateTimetablePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateTimetablePageController</servlet-name>
        <url-pattern>/UpdateTimetablePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateLessonPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.study_process.timetable.UpdateLessonPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateLessonPageController</servlet-name>
        <url-pattern>/UpdateLessonPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DayRequirementsPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.study_process.dayRequirements.DayRequirementsPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DayRequirementsPageController</servlet-name>
        <url-pattern>/DayRequirementsPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ActionResultPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.ActionResultPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ActionResultPageController</servlet-name>
        <url-pattern>/ActionResultPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ActionResultEmployeeMenuPageController</servlet-name>
        <servlet-class>net.ukr.vixtibon.servlets.controllers.ActionResultEmployeeMenuPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ActionResultEmployeeMenuPageController</servlet-name>
        <url-pattern>/ActionResultEmployeeMenuPageController</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>config</param-name>
        <!--  Name of the chat properties file. It contains the name and description                   of rooms.-->
        <param-value>config.properties</param-value>
    </context-param>


    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>net.ukr.vixtibon.filters.AuthenticationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/Admin/*</url-pattern>
    </filter-mapping>

</web-app>